h1 {
    font-size: 1.2rem;  
    opacity: 0.5;  
    text-shadow: 2px 2px 5px rgba(255, 255, 91, 0.7);
    letter-spacing: 0.5rem;
  }
#text {
    font-size: 1rem;  
    opacity: 0.9;  
    letter-spacing: 0.3rem;
    color:#fefece;
    text-shadow: 1px 1px 5px rgba(255, 255, 91, 0.7);
  }
* {
    box-sizing: border-box;
  }
  body {
    background: #e1ff87 url('bilden.JPG') no-repeat center center/cover;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 180px;      
     /* höjden och längden! */
    width: 180px;
    position: relative;
    transform: scale(1);
  }
  .circle {
    background-color: #0d161f;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* containern är satt, denna ska va 100%. top:0 left: 0,
     så den är i mitten z index-1 om gradient circle är -2
    */
  }
  .gradient-circle {
    background: conic-gradient(
        #5b7494 0%,         #8e9ea5 40%,
      #fdfcf1 40%,       #c0986d 60%,
      #ffdfa7 60%,       #ffdfa7 100%     );
    height: 200px;
    width: 200px;
    z-index: -2;
    top: -10px;
    left: -10px;
    /* höjden lite större samt bredd
    top -10px och left för att inte börja på samma plats
   z-index  behind the solid cirkle
    */
    border-radius: 50%;
    position: absolute;
  }
  .pointer {
    background-color: #ffffff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
    box-shadow: 0 0 10px #fffb00; /* Lägg till ett gult ljus runt hela punkten */
  }
  .pointer-container {
    position: absolute;
    /* top var den börjar samt left,  */
    top: -40px;
    left: 82px;
    /* background-color:red; */
    width: 23px;
    height: 140px;
    animation: roterandecirkel 7.5s linear forwards infinite;
    transform-origin: bottom center;
  }
  @keyframes roterandecirkel {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .container.grow {
    animation: grow 3s linear forwards;
  }
  @keyframes grow {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.2);
    }
  }
  .container.shrink {
    animation: shrink 3s linear forwards;
  }
  @keyframes shrink {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
